<meta name="viewport" content="width-device-width" initial-scale="1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/cf721f2948.js" crossorigin="anonymous"></script>

<section class="sub-header">
  <nav>
      </nav></section>



<div id="outPopUp" class="container">
    <div class="row">
        <div id="textcent" class="col-md-6 mt-5 mx-auto">
            
                <h1 class="text center">FAQ</h1>
                <br>
            <div class="box">
                <br>
                <div class="faqs">
                    <img src="faq2.jpg" style="width:20%">
                   <details>
                      <summary>What is the purpose of this system?</summary>
                      <br>
                      <p align="justify" class="text">“OFF THE WALL” IS A RALLYING CRY FOR SELF-EXPRESSION. FROM ART AND MUSIC TO SKATING AND SURFING WE’RE SHOWCASING THE PEOPLE WHO INSPIRE US WITH THEIR CREATIVITY, AUTHENTICITY, AND PASSION. THIS IS OUR STORY. THIS IS OFF THE WALL.
                        </p>
                   </details>
                   <details>
                      <summary>Who is controlling the system?</summary>
                      <br>
                      <p align="justify" class="text">This system only can be fully controlled by the Administrative Management of Vans Team.
                        </p>
                   </details>
                   <details>
                      <summary>How can Customer register for this system</summary>
                      <br>
                      <p align="justify" class="text">The Customer can be registered by the administrators.</p>
                   </details>
                   
                </div>
             </div>
             <br>
             <br>
        </div>
    </div>

<br><br>
<section class="footer">
    <h4>About Us</h4>
                <p>HQ OFFICE (PUTRAJAYA) <BR> LEVEL 29,IOI CITY TOWER, 62502,PUTRAJAYA, MALAYSIA <BR> EMAIL: VansHQ@gmail.com<br>
                   Telephone: +603 8947 8888
                <br>Business Hour: 0900 - 1800 (Monday to Friday)</p>
    
       
  
        
    </section>
